.App {
  font-family: 'Lato';
}

body {
  margin-top: 5rem;
  background-image: url('mountain.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.scrolling::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5rem;
  background-color: transparent;
}

.scrolling::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: #FFFFFF66;
  border-radius: 4rem;
}

body::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5rem;
  background-color: #555555;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #FFFFFFAA;
  border-radius: 4rem;
}

.scrolling {
  display: flex;
  flex-direction: row;
  min-height: 75vh;
  max-height: 75vh;
  overflow-x: scroll;
  margin: 1rem
}

.list {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 20rem;
  border-radius: 0.5rem;
}

.card {
  display: block;
  background-color: white;
  padding: 0.5rem;
  justify-content: left;
  align-items: stretch;
  text-justify: left;
  min-height: 2.5rem;
  margin-bottom: 0.5em;
  border-radius: 0.25rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222222aa;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.creds {
  background-color: #222222dd;
  color: white;
  width: 30rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 20%);
}

.board-card {
  background-color: #222222dd;
  color: white;
  margin: 1rem;
  width: 15rem;
  height: 8rem;
  border-color: #00000000;
}

.board-delete-button {
  background-color: #222222dd;
  color: white;
  opacity: 75%;
  margin-top: -5.5rem;
  margin-left: -3rem;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0rem;
  border-color: #00000000;
}

.board-task-button {
  background-color: #ffffff44;
  color: white;
  width: 100%;
  border-color: #00000000;
}

.card-button {
  background-color: #00000000;
  width: auto;
  float: right;
  height: 0.5rem;
  border-color: #00000000;
}

.board-list-button {
  background-color: #222222aa;
  color: white;
  min-width: 20rem;
  width: 20rem;
  margin: 0.5rem;
  height: 100%;
  border-color: #00000000;
}

.new-task-form {
  background-color: #ffffff55;
  color: white;
  padding: 0.5rem;
  height: 100%;
  border-color: #00000000;
  border-radius: 0.25rem;
}

.edit-list-form {
  background-color: #00000000;
  color: white;
  padding: 0.5rem;
  height: 100%;
  border-color: #00000000;
  border-radius: 0.25rem;
}

.collabs {
  margin-left: 1rem;
  margin-top: 1rem;
  display: inline-block;
}

.assignees {
  margin-top: 0.5rem;
}

.typeahead .rbt-token {
  color: white;
  background-color: #36a3b9;
}

.typeahead2 {
  margin-top: 1rem;
  display: block;
}
